*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#050505;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:30px 10%;
}

nav h1{
    font-size:32px;
    font-weight:700;
}

.buttons{
    display:flex;
    gap:15px;
}

.btn{
    padding:12px 22px;
    border-radius:10px;
    text-decoration:none;
    background:#1a1a1a;
    color:white;
    transition:0.3s;
}

.btn:hover{
    background:#2b2b2b;
}

.btn2{
    background:white;
    color:black;
}

.hero{
    min-height:100vh;
    background:linear-gradient(to bottom,#0b0b0b,#050505);
}

.hero-content{
    text-align:center;
    margin-top:120px;
    padding:20px;
}

.hero-content h2{
    font-size:70px;
    margin-bottom:20px;
}

.hero-content p{
    color:#b5b5b5;
    max-width:700px;
    margin:auto;
    font-size:20px;
    line-height:1.7;
}

.main-btn{
    display:inline-block;
    margin-top:40px;
    padding:18px 40px;
    border-radius:14px;
    background:white;
    color:black;
    text-decoration:none;
    font-weight:700;
    font-size:18px;
}

.features{
    padding:120px 10%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:#0d0d0d;
    border:1px solid #1d1d1d;
    border-radius:24px;
    padding:40px;
}

.card h3{
    font-size:30px;
    margin-bottom:15px;
}

.card p{
    color:#a1a1a1;
    line-height:1.8;
}

.commands{
    padding:100px 10%;
}

.commands h2{
    font-size:50px;
    margin-bottom:50px;
    text-align:center;
}

.command-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.command{
    background:#0d0d0d;
    border:1px solid #1d1d1d;
    padding:30px;
    border-radius:20px;
}

.command h3{
    font-size:28px;
    margin-bottom:10px;
}

.command p{
    color:#a5a5a5;
}

.pricing{
    padding:120px 10%;
    text-align:center;
}

.pricing h2{
    font-size:55px;
    margin-bottom:40px;
}

.price-card{
    max-width:500px;
    margin:auto;
    background:#0d0d0d;
    border:1px solid #1d1d1d;
    padding:60px;
    border-radius:30px;
}

.price-card h3{
    font-size:30px;
    margin-bottom:20px;
}

.price-card h1{
    font-size:80px;
    margin-bottom:30px;
}

.price-card ul{
    list-style:none;
}

.price-card li{
    margin:15px 0;
    color:#b5b5b5;
    font-size:18px;
}

footer{
    padding:40px;
    text-align:center;
    color:#777;
}